<section class="container py-5" id="tecnologias">
  <h2 class="text-center mb-4"></h2>
  <div class="d-flex flex-column flex-md-row justify-content-evenly text-center">

    <div class="mb-4 d-flex flex-column align-items-center">
      <h4 class="mb-3 text-white">Backend</h4>
      <div class="d-flex flex-wrap gap-3 justify-content-center">
        <img src="assets/php.png" alt="PHP" class="tech-icon" />
        <img src="assets/python.png" alt="Python" class="tech-icon" />
        <img src="assets/dotnet.png" alt=".NET" class="tech-icon" />
      </div>
    </div>

    <div class="mb-4 d-flex flex-column align-items-center">
      <h4 class="mb-3 text-white">Frontend</h4>
      <div class="d-flex flex-wrap gap-3 justify-content-center">
        <img src="assets/js.png" alt="JavaScript" class="tech-icon" />
        <img src="assets/css.png" alt="CSS" class="tech-icon" />
        <img src="assets/bootstrap.png" alt="Bootstrap" class="tech-icon" />
        <img src="assets/angular.png" alt="Angular" class="tech-icon" />
      </div>
    </div>
  </div>
</section>


